<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Voting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Voting</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-title font="bold">Favourite animal order: <br>{{myAnimalOrder}}</ion-title>
<ion-list>
<ion-radio-group [(ngModel)]="myAnimalOrder">
<ion-item>
<ion-label>Carnivore</ion-label>
<ion-radio value="Carnivore"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Herbivore</ion-label>
<ion-radio value="Herbivore"></ion-radio>
</ion-item>
<ion-item>
<ion-label>Omnivore</ion-label>
<ion-radio value="Omnivore" ></ion-radio>
</ion-item>
</ion-radio-group>
</ion-list>
<ion-button (click)="saveAnimal()">Save</ion-button>

  <ul>
    <ion-button fill="outline" expand="full" shape="round" [routerLink]="['/home']" routerDirection="forward">Home</ion-button> 
  </ul>
</ion-content>
