<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Animals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
<ion-header collapse="condense">
<ion-toolbar>
<ion-title font="bold" size="large">Animals</ion-title>
</ion-toolbar>
</ion-header>

<ul>
<ion-img
  style="width:75%"
  src="https://c4.wallpaperflare.com/wallpaper/815/89/233/meerkats-animals-nature-family-wallpaper-preview.jpg"
></ion-img>

<h3>Three different types of animals.</h3>

<ion-button color="danger" shape="round" [routerLink]="['/carnivores']" routerDirection="forward">Carnivores </ion-button>
<br>
<ion-button color="success" shape="round" [routerLink]="['/herbivores']" routerDirection="forward">Herbivores </ion-button>
<br>
<ion-button color="warning" shape="round" [routerLink]="['/omnivores']" routerDirection="forward">Omnivores </ion-button>
<br>
<br>
<ion-button font="bold" fill="outline" expand="full" [routerLink]="['/voting']" routerDirection="forward">Vote for your favourite </ion-button>
</ul>

</ion-content>
